@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    width: 1280px;
    margin: 0 auto;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 38px;
}

nav h2{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
}

.button-nav button{
    color: rgba(0, 106, 80, 1);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 15px 30px 15px 30px;
    border-radius: 9px;
}

/*  shared style */
.btn-primary button{
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    padding: 17px 34px 17px 34px;
    border: none;
}
/* shared style */

.btn-primary button:hover{
   background-color: rgba(209, 241, 165, 0.631);
   color: black;
   transition: 2s ease;
   transform: rotate(360deg);
}


/* Banner Style start */
.banner-container{
   background: rgba(198, 228, 214, 1);
   display: flex;
   align-items: center;
   border-radius: 10px;
}
 

.banner{
    padding-top: 117px;
    padding-left: 59px;
    padding-bottom: 117px;
    padding-right: 64px;
}

.banner h5{
   color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.banner h1{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    word-wrap: break-word;
    margin-bottom: 28px
}

.banner-container img{
   padding-right: 70px;
   padding-bottom: 85px;
}
/* banner style end */

/* paillers part start */
main{
    width: 1280px;
    margin: 0 auto;
}

.paillers-container{
    margin-top: 80px;
    margin-bottom: 80px;
}
.pailor-head{
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
}

.paillers-box{
    display: flex;
    gap: 30px;
}

.pailer{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 15px;
}

.pailer h5{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 24px;
    margin-bottom: 12px;
}
.pailer p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}
/* pailler part end */

/* vision part start */
.vision-head{
    margin-bottom: 90px;
}

.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}
.vision-container{
    display: flex;
    gap: 30px;
}

.vision{
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     padding: 30px;
     border-radius: 8px;
}

.vision-tittle{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 24px;
    margin-bottom: 12px;
}

.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.vision-btn button{
   color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    border:none;
    padding: 10px 17px;
    border-radius: 8px;
    padding: 10px 15px;
    word-wrap: break-word;

} 
.box1{
  background: rgba(84, 144, 245, 0.2);
}

.btn1 button{
    background: rgba(84, 144, 245, 1);
}

.box2{
    background: rgba(198, 228, 214, 1);
}

.btn2 button{
    background: rgba(9, 161, 92, 1);
}

.box3{
    background: rgba(247, 235, 207, 1);
}

.btn3 button{
    background: rgba(255, 194, 57, 1);
}

/* Comment-box Style start */
.comment-box{
    box-shadow: 0px 1px 50px 0px  rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-top: 30px;
    border-radius: 9px;
}

.comments{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 13px;
    background-image:url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    padding-top: 23px;
}

.comment-tittle{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 5px;
}

.comment-description{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* comment part end */

/* table part start

table tr{
    display: flex;
    border-right: none;
} */

/* News Part Style */
.news-div{
    display: flex;
    gap: 38px;
/* box-shadow: 0px 46px 60px 0px; */
   background-color: whitesmoke;
   padding: 49px;
   border-radius: 15px;
   margin-bottom: 25px;
}

.news-div img{
    border-radius: 25px;
}

.news-tittle{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.news-time{
    color: rgba(14, 14, 14, 0.7);
     font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 12px;
}

.subtittle-news{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 45px;
}


/* Donate Part Style */
.donate-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 6rem;

   
}
.donate-container h2{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.donate-container p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 32px;
}

.donate-boxs{
    display: flex;
    gap:24px ;
    justify-content: space-evenly;
}

.donate-box{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 8px;
}

.donate-box:hover{
    background-color: rgb(175, 225, 202);
    transition: 1s ease;
    transform: scale(1.3);
}

.donate-container input[type=text]{
    display: block;
    height: 64px;
    width: 1032px;
    margin-top: 33px;
    text-align: center;
    border: none;
    background-color: whitesmoke;
    border-radius: 8px;
    font-family: Fira Sans;
    font-size: 16px;
    margin-bottom: 33px;
}
/* Donate part end */

/* Input part start */
.input-container{
     background-color: rgba(198, 228, 214, 1);
    padding: 80px 100px;
    border-radius: 12px;
    margin-bottom: 80px;
}
.input-container h2{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 17px;
}

.input-container p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  
}

.input-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.input-bar input[type=text]{
    display: block;
    width: 600px;
    height: 55px;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 44px;
    border-radius: 9px 0px 0px 9px;
}

.input-bar button{
    display: block;
    width: px;
    height: 54.5px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 17px 34px;
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 600;
    line-height: 100%;
    border: none;
    border-radius: 0px 9px 9px 0px;

}
/* input part end */

/* footer part start */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > h3{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 31px;
}

footer hr{
    width: 1122px;
    margin-bottom: 32px;
}

.footer-img img{
    margin-right: 15px;
    padding-bottom: 50px;
}

/* footer part end */

